{% load static %}
<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kachii's Rest</title>
    <link rel="stylesheet" href="{% static 'kachii.css' %}">
</head>


<main>
<h1>Home Page</h1>
    {% for display_card in display_cards %}
        <a href={{display_card.card_link}} >
            <h2>{{ display_card.title }}</h2>
        </a>
        <img src={{ display_card.card_image }} />
    {% endfor %}
</main>


</html>
